<div class="container ui card">
	<h1>Team Shuffler</h1>
	<div class="">
		<ul class="name-list">
			<li *ngFor="let member of members">{{member}}</li>
		</ul>
	</div>
	<div class="add-name-container">
		<input type="text" placeholder="Enter member name" [(ngModel)]="newName" />
		<button (click)="addMember()">Add</button>
	</div>
	<div class="team-number-container">
		<input type="number" placeholder="Enter # of teams" [(ngModel)]="teamSize">
		<button (click)="generateTeam()">Generate</button>
	</div>

	<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
	<div *ngIf="teams">
		<div *ngFor="let team of teams; index as i" class="team-list">
			<h3>Team {{i+1}}</h3>
			<ul>
				<li *ngFor="let member of team"><p>{{member}}</p></li>
			</ul>
		</div>
	</div>
</div>